.downloadButton {
    display: inline-block;
    position: absolute;
    z-index: 1;
    background-color: blue;
    color: white;
    top: 25px;
    right: 35%;
    height: 35px;
    width: 100px;

    z-index: 99999;
}

.closeButton {
    display: inline-block;
    position: absolute;
    z-index: 1;
    background-color: red;
    color: white;
    top: 25px;
    right: 41%;
    height: 35px;
    width: 100px;

    z-index: 99999;
}

.reminderButton {
    display: inline-block;
    position: absolute;
    z-index: 1;
    background-color: purple;
    color: white;
    top: 25px;
    right: 48%;
    height: 35px;
    width: 175px;

    z-index: 99999;
}