body{
    background-color: pink !important;
    // this will only set on tinder right? due to the matches in the manifest.json reference!
    // this is what it used to be:
    // "matches": ["<all_urls>"]
}

.recsPage {
    background-color: indianred !important;
}

.uiHelperFieldsContainer {
    position: absolute;
    top: 0px;
    right: -75px;
    z-index: 9999999999;
    width: 100%;
    height: 100%;
    background-color: yellow;
}